body, html
{
	background-color: transparent;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.FullPage
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.HookCircle
{
	border-radius: 50%;
	border-width: 0.1rem;
	border-style: solid;
	width: 90%;
	height: 90%;
	font-size: 2rem;
	margin: 1px;
}

.NoHighlight
{
	border-color: #88888888;
	background-color: #88888855;
}

.InRangeHighlight
{
	border-color: #888888FF;
	background-color: #888888AA;
}

.GadgetSeedContainer
{
	background-color: transparent;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

.GadgetSeedContainer::after {
	content: "";
	display: block;
	clear: both;
}

.GadgetSeed
{
	height: 31%;
	width: 31%;
	padding-bottom: 31%;
	overflow: hidden;
	float: left;
	border-radius: 50%;
	margin: 1%;
	margin-top: -4%;
}

.GadgetSeed:nth-child(1),
.GadgetSeed:nth-child(2),
.GadgetSeed:nth-child(3){
	margin-top: 1%;
}

.GadgetSeed:nth-child(5n+4){
	margin-left: 17.6667%;
}

.GadgetSeed:nth-child(5n+6){
	clear: left;
}

.GadgetSeed:nth-child(5n+6):last-of-type {
	margin-left: 34.3334%;
}
