!docs

src/build
!docs/aardvark-react/build
!build.js

aardvark_[0-9].*.*/
aardvark_[0-9].*.*.zip
aardvarkinstaller_*.exe
installer.nsi

Debug
Release
.vs
*.user
*.swp
*.blend1
*.stamp
~*
data/gadgets
data/server
data/avcmd
packages/aardvark-cli/lib
packages/aardvark-react/lib
packages/aardvark-shared/lib
node_modules
.sentry-native
myeasylog.log
avrenderer.aps

src/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/cache-v2-8ebc788de57b89343d13.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/cmakeFiles-v1-1804bdd8edd9c182c5e7.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/codemodel-v2-0dbba50b99aa3d3b3007.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/index-2021-03-23T20-04-06-0114.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-aardvark-Debug-e08cfcb6c9c5660ba460.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-aardvarkxr-Debug-12fdc730656e27fa98a5.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_client-Debug-e20fbf75f09bba19cec6.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_compat-Debug-12f538f6ce58a65424ba.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_getopt-Debug-ac8284c99977e58ceb25.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_handler-Debug-24fa64bb09285a0019b6.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_handler_lib-Debug-3237e36c663b60416117.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_minidump-Debug-a0aa946f7b42b31b95a8.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_snapshot-Debug-d93bebe5c3cf36fca2e9.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_tools-Debug-2e031555e7f53aa3d894.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_util-Debug-5f1c32940e2773c80b08.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-crashpad_zlib-Debug-0b27e1bf98bc88f1b843.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-gltfpbr_base-Debug-08df8b1cd9517971d1f7.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-libcef_dll_wrapper-Debug-29e64caa0c09fe8b7266.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-mini_chromium-Debug-98142a5c6b47292a034c.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-sentry-Debug-456e2576c9c66bec5526.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-tests-Debug-23db7b525ce32f3dd452.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-tiny-process-library-Debug-b4cbc9e79e9e9b4a00af.json
src/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-tools-Debug-648689914ba0964c1022.json
src/out/build/x64-Debug (default)/aardvark/cmake_install.cmake
src/out/build/x64-Debug (default)/avrenderer/cmake_install.cmake
src/out/build/x64-Debug (default)/avrenderer/CMakeFiles/aardvarkxr.dir/post-build.bat
src/out/build/x64-Debug (default)/build.ninja
src/out/build/x64-Debug (default)/cmake_install.cmake
src/out/build/x64-Debug (default)/CMakeCache.txt
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeASM_MASMCompiler.cmake
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeASMCompiler.cmake
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCCompiler.cmake
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCXXCompiler.cmake
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_C.bin
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeRCCompiler.cmake
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeSystem.cmake
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.c
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
src/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
src/out/build/x64-Debug (default)/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_LONG.bin
src/out/build/x64-Debug (default)/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_LONG.c
src/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
src/out/build/x64-Debug (default)/CMakeFiles/CMakeError.log
src/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
src/out/build/x64-Debug (default)/CMakeFiles/rules.ninja
src/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/foo.h
src/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.c
src/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.obj
src/out/build/x64-Debug (default)/CMakeFiles/TargetDirectories.txt
src/out/build/x64-Debug (default)/gltfpbr_base/cmake_install.cmake
src/out/build/x64-Debug (default)/Testing/Temporary/LastTest.log
src/out/build/x64-Debug (default)/tests/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/cef_binary_78/libcef_dll/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/CMakeFiles/Export/lib/cmake/sentry/sentry_crashpad-targets-debug.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/CMakeFiles/Export/lib/cmake/sentry/sentry_crashpad-targets.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/client/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/compat/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/handler/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/minidump/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/snapshot/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/third_party/getopt/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/third_party/mini_chromium/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/third_party/zlib/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/tools/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/crashpad_build/util/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/sentry-config.cmake
src/out/build/x64-Debug (default)/thirdparty/sentry-native/src/cmake_install.cmake
src/out/build/x64-Debug (default)/thirdparty/tiny-process-library/cmake_install.cmake
src/out/build/x64-Debug (default)/tools/cmake_install.cmake
src/out/build/x64-Debug (default)/VSInheritEnvironments.txt
