!docs

src/build
!docs/aardvark-react/build
!build.js

Debug
Release
.vs
*.user
*.swp
*.blend1
*.stamp
~*
data/gadgets
data/server
data/avcmd
packages/aardvark-cli/lib
packages/aardvark-react/lib
packages/aardvark-shared/lib
node_modules
.sentry-native
myeasylog.log
avrenderer.aps

